<div class="container">
    <div class="columns">
        <div class="column is-6">
            <strong style="font-size: 30px">About Us</strong>
            <br>
            <br>
            <p>Machine learning is everywhere. It can predict the weather, monitor stock prices, filter junk mail, even tell the mood of a person by they way they speak. It transforms the way we see, make our lives more efficient, and whether you like it or not, it is one of the biggest catchwords. But deep down, machine learning is all about math, statistics, and code.</p>
            <br>
            <p>In this open machine learning course, we will tell the story of machine learning.
                We are thrilled that you are here! Welcome to Cornell Tech’s CS 5785 - Applied Machine Learning.</p>
            <br>
            <p style="text-align:left; margin-bottom:0;">
            <details>
                <summary>Prerequisites</summary>
                <li>Experience with programming with Python. (Cornell CS 1110 or equivalent)</li>
                <li>Linear algebra. (Cornell MATH 2210, MATH 4310 or equivalent) </li>
                <li>Statistics and probability. (Cornell STSCI 2100 or equivalent) </li>
            </details>
            </p>
        </div>
        <div class="column is-6">
            {% include youtube.html video="vcE9WGbi4QY" %}
        </div>
    </div>

    <div class="column is-12">
                    <hr />
    </div>
</div>