<div class="container">
    <div class="columns">
        <div class="column is-6">
            <strong style="font-size: 30px">About The Course</strong>
            <p>This open online course is a broad introduction to the field of machine learning (ML), based on CS 5785 at <a href="http://tech.cornell.edu">Cornell Tech</a>. It covers machine learning algorithms (linear regression, kernel methods, neural networks, etc.), their mathemetical foundations, and their implementation. We are thrilled to make this material open to everyone and welcome you to the course.</p>
            <br>
            <p style="text-align:left; margin-bottom:0;">
                <summary><strong>Highlights</strong></summary>
                <li>23 lectures with detailed course notes</li>
                <li>30+ hours of lecture videos</li>
                <li>20+ implementations of ML algorithms in Python</li>
            </p>
        </div>
        <div class="column is-6">
            {% include youtube.html video="vcE9WGbi4QY" %}
        </div>
    </div>

    <div class="column is-12">
                    <hr />
    </div>
</div>